<div class="jumbotron">
    <ui-accordions>
        <ui-accordion title="Accordion 1"> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In praesentium odit maiores. Numquam rem perspiciatis, laboriosam quisquam molestias officiis et doloremque veniam animi minima vero, reiciendis totam? Exercitationem, voluptatibus nulla.
        </ui-accordion>
        <ui-accordion title="Accordion 2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolores dolorum vitae sint excepturi natus nam sequi a nobis fugiat commodi, provident similique odio exercitationem modi, enim quaerat doloremque minima!
        </ui-accordion>
    </ui-accordions>

    <hr/>

    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
    <table ng-show="contatos.length > 0" class="table">
        <tr>
            <th></th>
            <th>Serial</th>
            <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
            <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
            <th>Operadora</th>
            <th>Data</th>
        </tr>
        <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
            <td><input type="checkbox" ng-model="contato.selecionado"></td>
            <td>{{contato.serial}}</td>
            <td><a href="#/detalhesContato/{{contato.id}}">{{contato.nome | name}}</a></td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora.nome}}</td>
            <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
        </tr>
    </table>
    <hr/>
    <a class="btn btn-primary btn-block" href="#/novoContato">Novo Contato</a>
    <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
</div> 